/*
light.white: #FFFCF2
light.grey: #CCC5B9
dark.grey: #403D39
black: #252422
accent.color: #EB5E28
other.accent: #444C43
*/
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}

h5 {
  text-align: center;
  font-weight: 700;
}

.containerName {
  display: inline-block;
}

.bigName {
  overflow: hidden;
  border-right: 0.1em solid #eb5e28;
  white-space: nowrap;
  animation: typing 3s steps(20, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#navBarName {
  font-size: 1.6vw;
  color: #444c43;
  padding-left: 1.2vw;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3vw;
}

header {
  text-align: center;
  padding: 20vw 1vh;
  background-color: #252422;
  color: #ccc5b9;
}

.bigName {
  font-size: 10vw;
}

#lastName {
  color: #eb5e28;
}

#jobTitle {
  font-size: 1vw;
  font-style: italic;
  padding-top: 1.5rem;
}

#aboutMe {
  font-weight: 700;
  padding-bottom: 3vh;
}

.about {
  background-color: #ccc5b9;
  padding-top: 8rem;
}

.portraitAlign {
  margin-left: auto;
  margin-right: 25vw;
}

.aboutLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.background {
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 8rem;
  margin-left: 25vw;
  font-size: 2.6vh;
}

.portraitSize {
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 8%;
  margin-left: 4vw;
  margin-bottom: 4vw;
  margin-top: 2vw;
  max-width: 90%;
  height: auto;
}

.accordion-button {
  color: #ccc5b9;
  background-color: #444c43;
  display: block;
  text-align: center;
}

.accordion-button:not(.collapsed) {
  color: #ccc5b9;
  background-color: #403d39;
}

.accordion-body {
  display: block;
  text-align: center;
}

.accordion-body ul {
  padding-left: 0rem;
}

#projects {
  padding-top: 8rem;
  background-color: #444c43;
}

#myProjects {
  font-weight: 700;
  color: #ccc5b9;
  padding-bottom: 2rem;
}

#projectsContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.contact ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact li {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#contactMe {
  padding-bottom: 2.5rem;
  padding-top: 6rem;
  color: #ccc5b9;
  font-weight: 700;
}

.contact p {
  text-align: center;
  padding-bottom: 1.5rem;
  color: #ccc5b9;
}

footer {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: #403d39;
  color: #ccc5b9;
}

#bottomDark {
  background-color: #403d39;
}

@media (max-width: 415px) {
  .aboutLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .background {
    grid-area: 1 / 1 / 2 / 2;
    padding-bottom: 8rem;
    margin-left: 2vw;
  }
  .portraitSize {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 8%;
    max-width: 90%;
    height: auto;
  }

  .portraitAlign {
    margin-left: auto;
    margin-right: auto;
  }
}

.contact ul {
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.accordion-body {
  margin: auto;
}

#jobTitle {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-md-4 {
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  #navBarName {
    font-size: 1.8vw;
  }

  #navbarNav {
    font-size: 1.6vw;
  }
}

@media (max-width: 1300px) {
  .aboutLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .background {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.5em;
    line-height: 50px;
    margin-left: 2vw;
  }
  .portraitSize {
    grid-area: 2 / 1 / 3 / 2;
    border-radius: 8%;
    max-width: 50%;
    height: auto;
  }

  .portraitAlign {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 6vh;
    transform: translateX(20%);
  }
}
